//                                                   src/style/Layout.module.sass
/////////////////////////////////////////////////////////////////////////////////
/////////////                                                    RESPONSIBILITIES
//  - referenced in src/viewsCommon/Layout.tsx
//  - establish styles for page layout wrapper - menu placement


/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@use 'design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

#appLayout
  width: auto
  max-width: design.space(159.5)
  height: fit-content
  margin: design.space(7)

  display: grid
  grid-template-columns: design.space(27) auto
  grid-template-rows: auto

  @include design.mobile-media
    margin: design.space(2.5)
    grid-template-columns: 100%
    grid-template-rows: design.space(10.5) auto


.mobileMenuContainer
  width: 100%
  height: 0
  overflow: hidden
  background-color: design.$red
  transition-property: height
  transition-duration: 0.3s

  &.open
    @include design.mobile-media
      height: design.space(64)


.sideMenuContainer
  padding-right: design.space(6)
  box-sizing: border-box
  width: 216px
  position: fixed
  @include design.mobile-media
    position: static
    width: unset
    padding-bottom: design.space(3.5)
    padding-right: design.space(0)

  #siteLogo
    width: 100%
    height: auto
    @include design.mobile-media
      width: auto
      height: 100%

  .sideMenuList
    @include design.mobile-media
      display: none
    @include  design.menu-link-type

    .submenuTitle
      &:hover
        color: design.$light-red
        cursor: pointer

    .submenuList
      height: design.space(0)
      overflow: hidden
      transition-property: height margin
      transition-duration: 0.3s
      padding-left: 8px
      &.open
        margin: design.space(1) design.space(0)
        height: design.space(9)


  .mobileMenuControlContainer
    display: none
    width: design.space(3)
    margin: design.space(2.5)
    float: right
    cursor: pointer
    
    &:focus
      outline-offset: 1px

    @include design.mobile-media
      display: inline
      
      &.open div.bar1
        transition: transform 0.5s ease
        transform: rotate(45deg) translate(20%, 200%)
      &.open div.bar2
        transition: opacity 0.2s ease
        opacity: 0
      &.open div.bar3
        transition: transform 0.5s ease
        transform: rotate(-45deg) translate(24%, -260%)
      
      &:hover div
        transition: background-color 0.2s ease
        background-color: design.$light-red
      
      div
        width: 100%
        height: design.space(0.25)
        border-radius: design.space(1)
        margin-bottom: 5px
        background-color: design.$red
        &:last-child
          margin-bottom: 0

#pageContentContainer
  grid-column: 2/3
  @include design.mobile-media
    grid-column: unset