//                                        src/style/GalleryThumbnails.module.sass
/////////////////////////////////////////////////////////////////////////////////
/////////////                                                    RESPONSIBILITIES
//  - referenced in src/viewsCommon/Gallery.tsx
//  - hold styles for specific thumbnail galleries


/////////////////////////////////////////////////////////////////////////////////
/////////////                                                        ILLUSTRATION

.ill-layers
  left: -98%

.ill-social-design
  left: -53%

.ill-clap
  left: -60%

.ill-everything
  bottom: 0%

.ill-on-the-water
  right: -30%

.ill-psychometric
  top: 0%

.ill-together
  bottom: -25%


/////////////////////////////////////////////////////////////////////////////////
/////////////                                                           PEN & INK




/////////////////////////////////////////////////////////////////////////////////
/////////////                                                          SKETCHBOOK