//                                                          src/style/global.sass
/////////////////////////////////////////////////////////////////////////////////
/////////////                                                    RESPONSIBILITIES
//  - referenced in src/index.tsx
//  - import typefaces and establish some global styles


/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@use 'design'

@font-face
  font-family: 'Proxima Nova'
  src: url('./fonts/ProximaNovaRegular.otf')


@font-face
  font-family: 'Proxima Nova'
  src: url('./fonts/ProximaNovaSemibold.otf')
  font-weight: 600


/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

body
  font-family: 'Proxima Nova'
  margin: 0

ul
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style: none

a
  color: black
  text-decoration: none
  &:hover
    color: design.$light-red

