@import 'design'

@keyframes displayTransition 
  0% {margin-top: -30px}
  100% {margin-top: 0px}


#appLayout
  width: auto
  height: fit-content
  margin: space(7)

  display: grid
  grid-template-columns: space(27) auto
  grid-template-rows: auto

  @include mobile-media
    margin: space(2.5)
    grid-template-columns: 100%
    grid-template-rows: space(10.5) auto

.mobileMenuContainer
  width: 100%
  height: 0
  overflow: hidden
  background-color: $red
  transition-property: height
  transition-duration: 0.3s

  &.open
    @include mobile-media
      height: space(64)

.sideMenuContainer
  padding-right: space(6)
  box-sizing: border-box
  @include mobile-media
    padding-bottom: space(3.5)
    padding-right: space(0)

  #siteLogo
    width: 100%
    height: auto
    @include mobile-media
      width: auto
      height: 100%

  .sideMenuList
    @include mobile-media
      display: none

    .submenuTitle
      &:hover
        color: $light-red
        cursor: pointer

    .submenuList
      height: space(0)
      overflow: hidden
      transition-property: height margin
      transition-duration: 0.3s
      &.open
        margin: space(1) space(0)
        height: space(9)

  .mobileMenuControlContainer
    display: none
    width: space(3)
    margin: space(2.5)
    float: right
    cursor: pointer
    @include mobile-media
      display: inline
      
      &.open div.bar1
        transition: transform 0.5s ease
        transform: rotate(45deg) translate(20%, 200%)
      &.open div.bar2
        transition: opacity 0.2s ease
        opacity: 0
      &.open div.bar3
        transition: transform 0.5s ease
        transform: rotate(-45deg) translate(24%, -260%)
      
      &:hover div
        transition: background-color 0.2s ease
        background-color: $light-red
      
      div
        width: 100%
        height: space(0.25)
        border-radius: space(1)
        margin-bottom: 5px
        background-color: $red
        &:last-child
          margin-bottom: 0

#pageContentContainer
  background-color: orange